.box1{
    width: 110px;
    height: 41px;
    margin-top: -61px;
    background-color: red;
}

.pp{
    color: aliceblue;
}

.btn-view{
    background-color: chocolate;
    color: wheat;
    margin-top: -20px;
    margin-left: 800px;
}

